h1, h2, h3, h4, h5, h6, body, p {
    font-family: "Courier", Courier, Serif;
    color: white;
    opacity: 1;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

body {
    margin: 2em;
    padding: 2em;
    background-image: url("images/wa_background1.jpg");
    /*background-repeat: no-repeat;*/
    background-size: 100% auto;
}
table {
  width: 100%;
}
tr, th {
  text-align: center;
}

#content {
    padding: 4em;
    margin: auto;
    width: 80%;
    height: 1000px;
    background-color: rgba(0,0,0,0.7);
}
img.right {
	position: absolute;
	left: 55%; 
	width: 30%; 
	height: auto;
}
img.left {
    position: absolute;
    left: 18%;
    width: 15%;
    height: auto;
    min-width: 15em;
}
h3.right {
	position: absolute;
	left: 40%;
	width: 40%;
}
p.right {
    position: absolute;
    left: 40%;
    width: 40%;
}
table {
    width: 100%;
}
a {
    color: white;
}
a:hover {
    color: grey;
}

#footer {
    clear: both;
}
