body {
    margin: 2em;
    padding: 2em;
    background-image: url("images/wa_background1.jpg");
    /*background-repeat: no-repeat;*/
    background-size: 100% auto;
    min-width: 450px;
}
a {
    color: black;
}
